[submodule "firmware/3rdparty/MiniCore"]
	path = firmware/3rdparty/MiniCore
	url = git@github.com:MCUdude/MiniCore.git
[submodule "firmware/3rdparty/SD"]
	path = firmware/3rdparty/SD
	url = git@github.com:arduino-libraries/SD.git
